<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>TTKMusicPlayer</string>
     <key>CFBundleIdentifier</key>
     <string>org.TTKMusicPlayer.TTKMusicPlayer</string>
     <key>CFBundleVersion</key>
     <string>4.1.2.0</string>
     <key>DocSetFeedName</key>
     <string>TTKMusicPlayer docs</string>
     <key>DocSetPublisherIdentifier</key>
     <string>org.TTKMusicPlayer.Publisher</string>
     <key>DocSetPublisherName</key>
     <string>Publisher</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
